*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    background: rebeccapurple;
    
}

.producto-main{
    background: #F5F5F5;
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto--main-header{
    width: 100%;
    height: 15%;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.producto--main-main{
    width: 100%;
    background: #fff;
    height: 60%;
    overflow-x: scroll;
    outline: 1px solid #C1C1C1;
}

table{
    width: 100%;
    
}

tr{
    height: 50px;
}

.tr--header{
    font-weight: bolder;
    font-size: 14px;
}



.producto--main-footer{
    width: 100%;
    background: #fff;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.producto--main-footer button{
    width: 20%;
    height: 80%;
    background: #42BFDD;
    color: #fff;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(1px 5px 5px #3333337c);
    cursor: pointer;
}


.producto--main-header button{
    width: 20%;
    height: 50%;
    background: #42BFDD;
    color: #fff;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(1px 5px 5px #3333337c);
    cursor: pointer;
}

.producto--main-header .contenedor-buscador{
    display: flex;
    height: 100%;
    align-items: center;
}

.producto--main-header .contenedor-buscador button{
    border-radius: 0 10px 10px 0;
}

.producto--main-header div input{
    width: 20rem;
    height: 50%;
    border-radius: 10px 0 0 10px;
    filter: drop-shadow(1px 5px 5px #3333337c);
    border: none;
    text-indent: 20px;
    font-size: 14px;
}

/*  */

.agg-productos{
    z-index: 200;
    position: absolute;
    
    width: 100vw;
    height: 100vh;
    background: #0000005e;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.agg-productos form{
    background: #fff;
    width: 30%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.agg-productos form input,select{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #444;
    outline: none;
    text-indent: 15px;
}


.botonaggproducto{
    border: none !important;
    background: #ccc;
    text-indent: 0 !important;
    cursor: pointer;
}

.botonaggproducto{
    border: none !important;
    background: #ccc;
    text-indent: 0 !important;
    cursor: pointer;
}

.examinar{
    border: none !important;
    text-indent: 0 !important;
}

.botonx{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    color: #fff;
    background: #42BFDD;
    cursor: pointer;
}

.popup{
    z-index: 200;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #0000004f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup form{
    width: 30%;
    height: 80%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    border-radius: 10px;
}

.x{
    width: 20px;
    font-size: 25px;
    font-weight: bold;
    background: #fff;
    color: #42BFDD;
    border: none;
    cursor: pointer;
}
.input-register{
    height: 35px;
    border: none;
    outline: none;
    background: #ebebeb;
    border-radius: 5px;
    text-indent: 15px;
    
    
}

.boton-register{
    text-indent: 0;
    cursor: pointer;
    transition: background .3s, color .3s;
}


.eliminar:hover{
    background: rgb(191, 4, 4);
    color: #fff;
}

.hidden{
    display: none;
}